.header > #text {
    background-color: #6aa84f;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 8px;
}

.header > #text > img{
    float: left;
    margin-left: 10%;
    margin-right: -20%;
    border-radius: 10px;
}

body{
    font-family: Arial;
}

#section1, #section2, #section3, #section4, #section5, .allSections > p, .allSections > h2, #schedule{
    margin-left: 15%;
}

h2{
    color: #6aa84f;
}

a{
    color: white;
    text-decoration: none;
}

table, td {
    border:2px solid black;
    text-align: center;
  }