html {
    overflow-y: scroll;
}

.sideNav > button{
	margin-top: 10px;
	border-style: hidden;
	border-radius: 5px;
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	font-size: 20px;
}

.sideNav > button:hover{
	color: white;
	background-color: black;
}

.sideNav{
	float: left;
	text-align: center;
	width: 108px;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.content{
	margin-left: 120px;
	margin-right: 15px;
}

#mod1Img1{
	float: right;
}

h2{
	padding: 2px;
	text-align: center;
	background-color: blue;
	color: white;
}

#title{
	padding: 2px;
	margin: auto;
	margin-bottom: 10px;
	color: white;
	background-color: green;
}

h1, #title{
	text-align: center;
}