.sideNav > button{
	margin-top: 10px;
	border-style: hidden;
	border-radius: 5px;
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	font-size: 20px;
}

.sideNav > button:hover{
	color: white;
	background-color:black;
}

.sideNav{
	float: left;
	text-align:center;
	width: 8%;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.content{
	margin-left:10%;
}

#title{
	text-align: center;
	color: white;
	background-color: green;
}